Repository TheBestTvarynka/Dataans, pull requests merged in 2024-10, with the labels that each got.

#45 Fix log level preventing reveal and open operations #43
  dataans/src-tauri/src/config.rs
  dataans/src-tauri/src/main.rs
Labels: bug, tauri-backend

#49 Focus app window on its reopening
  dataans/src-tauri/src/main.rs
Labels: tauri-backend

#51 Fix incorrect key bindings behavior
  .gitignore
  dataans/Cargo.lock
  dataans/Cargo.toml
Labels: fix, frontend

#52 Migrate to Tauri v2
  dataans/Cargo.lock
  dataans/src-tauri/Cargo.toml
  dataans/src-tauri/build.rs
  dataans/src-tauri/capabilities/desktop.json
  dataans/src-tauri/capabilities/migrated.json
  dataans/src-tauri/src/config.rs
  dataans/src-tauri/src/dataans/mod.rs
  dataans/src-tauri/src/file.rs
  dataans/src-tauri/src/image.rs
  dataans/src-tauri/src/main.rs
  dataans/src-tauri/tauri.conf.json
  dataans/src/backend/mod.rs
Labels: tauri-backend, frontend, refactoring
